*{
    margin: 0;
    padding: 0;
    font-family: verdana;
}
#main{
    width: 100%;
    height: 75vh;
    background-image: url(../images/tec.jpg);
    background-size: cover;
}

#formulario{
    font  : 21px sans-serif;
  padding : 2em;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #666666;
    width: 550px;
    background-image: linear-gradient(
        rgba(230, 230, 250, 0.5),
        rgba(240, 248, 255, 0.5)
      ), url(../images/logotipo.png);  
    
}

#l{
    margin: 0 auto;
    text-align: left;
    width: 500px;
}
#b{
    margin: 0 auto;
    text-align: right;
    width: 500px;
}

#footer{
    background: linear-gradient(90deg,#0B225E,#102A6F
    25%,#1e5372);
}


.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
  
.modalbox{
    width: 500px;
    position: relative;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
.movedown {
    margin: 0 auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #19D970;
    color:#222;
}